body{
    color:black;
    background-color: rgb(193, 163, 222);
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(2, 7, 13);
}
section {
    background: rgb(193, 163, 222);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    fonte-size: 40px;
}
p{
    fonte-size:20px;
}
img {
    heigh: 200px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
